eclipsebin
gensrc
**/classes/
*testclasses.xml
*.class
*.iml
*.log
**/*.pid
.idea/
.vscode
.metadata
/.idea/workspace.xml
*/**.zul
platformhome.properties
beans.xsd
extensioninfo.xsd
items.xsd
hmc.xsd
RemoteSystemsTempFiles/